<main>
  <div class="text-center bg-light">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Nuevos productos</h2>
        <p class="lead">La mejor calidad en los productos</p>
      </div>
      <div class="d-flex justify-content-around">
        <div class="bg-light shadow-sm">
          <img [src]="images[0]" alt="Random first slide" />
        </div>
        <div class="bg-light shadow-sm">
          <img [src]="images[1]" alt="Random first slide" />
        </div>
      </div>
    </div>
    <!-- <div class="bg-dark text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5"></h2>
        <p class="lead"></p>
      </div>
      <div class="bg-light shadow-sm mx-auto">
        <img [src]="images[1]" alt="Random first slide" />
      </div>
    </div> -->
  </div>
</main>
